body {
	background-image:url('../img/login.jpg');
} 
.senha{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: Orange;
    font-size: 25px;
    font-family: calibri;
}
.senha h1{
	color:  Orange;
}
a{
	color: blue;
	text-decoration: none;
}
button {
	background-color: DarkGoldenrod;
	border: none;
	padding: 15px;
	width: 50%;
	border-radius: 10px;
	color: white;
	font-size: 15px;
	cursor: pointer;
}
input {
	padding: 14px;
	border: none;
	border-radius: 15px;
	width: 45%;
}
button:hover {
	background-color: #ffe300;
	cursor: pointer;

}

 button a {
	color: black;
	text-decoration: none;
	font-family: calibri;
	font-size: 17px;
}
a{
	color: blue;
}